[Unit]
Description=WayVNC on Hyprland Virtual Monitor
After=hyprland.service graphical.target

[Service]
Type=simple
User=RESU
ExecStart=%h/.local/bin/hypr_remote.sh

[Install]
WantedBy=graphical.target
